{% extends "admin/base_site.html" %}
{% load i18n admin_static %}<!DOCTYPE html>
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "web/css/homepage.css" %}" />
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block branding %}
  <h1>{{ branding|default:"Bomberos voluntarios de Chascomús" }}</h1>
{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
        {% endif %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a> /
        {% endif %}
        <a href="{% url 'admin:index' %}">Cuartel virtual</a>
    {% endblock %}
</div>
{% endblock %}
