{% extends "site.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% load ffhqfilters %}
{% load url from future %}

{% block content %}

<div class="modal fade modal-bombero-details" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="pull-right" style="margin-right:30px;">
  <a href="{% url 'bombero_add' %}" class="btn btn-fab btn-raised btn-primary"><i class="mdi-content-add"></i></a>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <table class="table table-striped table-hover ">
          <thead>
              <tr>
                  <th><i class="mdi-social-group"></i> Apellido y Nombre</th>
                  <th><i class="mdi-hardware-security"></i> Especialidad</th>
                  <th><i class="mdi-communication-phone"></i> Celular</th>
                  <th><i class="mdi-social-people-outline"></i> Cargo</th>
                  <th><i class="mdi-social-school"></i> Jerarquia</th>
              </tr>
          </thead>
          <tbody>
            {% for bombero in bombero_list %}
                <tr {% if bombero.estado != 'CUERPO ACTIVO' %}class="danger"{% endif %}>
                  <td>
                    <a href='{% url "bombero_view" bombero.id %}'>
                      {{ bombero.apellido|title }} {{ bombero.nombre|title }}
                    </a>              
                  </td>
                  <td>{{ bombero.especialidad|title }}</td>
                  <td>{{ bombero.telefono_celular }}</td>
                  <td>{{ bombero.cargo|title }}</td>
                  <td>{{ bombero.jerarquia|title }}</td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>

    <div class="col-xs-3">
      <form class="form-horizontal" action="" method="get">
        <h5><h5>
        {% for field in filter.form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field|addcss:"col-lg-10 form-control" }}
        </div>
        {% endfor %}
          <button class="btn btn-primary btn-small" type="submit">Buscar</button>
      </form>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a class="btn" href="?page={{ page_obj.previous_page_number }}">
              Anterior 
            </a>
          {% endif %}
          <a class="btn disabled" href="#">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
          {% if page_obj.has_next %}
            <a class="btn" href="?page={{page_obj.next_page_number}}">Próximo
            </a>
          {% endif %}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block footscripts %}
  <script type="text/javascript" src='{% static 'cuadrilla/js/bombero-filter-modals.js' %}'></script>
{% endblock %}
